<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container" style="width: 980px">
			<a class="brand" href="#">春菜萌域</a>
			<ul class="nav">
				<li><a href="#">首页</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#">莼菜</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#"><%=user.name%></a></li>
			</ul>
			<% if(user.name) { %>
			<ul class="nav pull-right">
				<li><a href="/logout">退出</a></li>
			</ul>
			<% } %>
		</div>
	</div>
</div>